.root {
  text-align: center;
}

.root h1 {
  margin: 0;
  color: #09070d;
  font-size: 24px;
  font-weight: 600;
}

.root p {
  margin: 11px 0 0;
  color: #746e7a;
  font-size: 14px;
  line-height: 1.5;
}

.root button {
  margin-top: 23px;
  border: 0;
  padding: 0;
  background: transparent;
  color: var(--primary);
  font-size: 13px;
  cursor: pointer;
}
